
@{
    ViewBag.Title = "Edits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fields</legend>
        <div class="editor-field">
            Tên thể loại :
            @Html.TextBox("TenLoai")
            @ViewData["Loi"]
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Loai")
</div>

